{{ partial "head" . }}

{{ partial "nav" . }}

{{ partial "jumbotron" (dict "imageUrl" "/img/home/jumbotron.jpg" "title" "Love to realize my dream on the Web" "subtitle" "Designing, Developing, to be a fastest website in the World") }}

{{ partial "short-text" (dict "heading" "What I Learn?" "text" "I learning HTML, CSS, JavaScript and some framework like Angular, React, Vue, and Babel.")}}

{{ partial "2-up" (dict "heading" "What My Job?" "description" "My current job is nothing. I just do what I want to know and of course I have some projects for future." "buttonText" "See All Service" "buttonLink" "/products"  ) }}

{{ partial "text-and-image" (dict "heading" "My values" "text" "I can make a static site using Bootstrap, MaterializeCSS, Google Material Design Lite, Foundation by Zurb, and Also I can customize a Wordpress." "buttonText" "Read more" "buttonLink" "/values") }}

{{ partial "blog" . }}

{{ partial "footer" . }}
